@{
    Layout = "_wishlistLayout";
    ViewBag.Title = "Your List";
    ViewBag.AccountName = Model.AccountName;
    ViewBag.AccountImage = Model.AccountImage;
}
@model sstocker.wishlist.ViewModels.YourListViewModel

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Your Wishlist
        </h6>
    </div>
    <div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @for (int x = 0; x < Model.ColumnNames.Count; x++)
                        {
                            <th>@Model.ColumnNames[x]</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int x = 0; x < Model.WishList.Count; x++)
                    {
                        <tr>
                            @for (int y = 0; y < Model.ColumnNames.Count; y++)
                            {
                                <td>@Html.Raw(Model.GetColumn(x, y))</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("AddWishlistItem", "List")" class="btn btn-success btn-block"><i class="fas fa-plus-circle fa-fw"></i>Add Item</a>
        </div>
    </div>
</div>

